<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter searching criteria" />
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- employee id -->
        <ng-container matColumnDef="empId">
            <th mat-header-cell *matHeaderCellDef>empId</th>
            <td mat-cell *matCellDef="let element">{{ element?.empId }}</td>
        </ng-container>

        <!-- employee name -->
        <ng-container matColumnDef="empName">
            <th mat-header-cell *matHeaderCellDef>empName</th>
            <td mat-cell *matCellDef="let element">{{ element?.empName }}</td>
        </ng-container>

        <!-- employee active status -->
        <ng-container matColumnDef="empActive">
            <th mat-header-cell *matHeaderCellDef>empActive</th>
            <td mat-cell *matCellDef="let element">{{ element?.empActive === 1 }}</td>
        </ng-container>

        <!-- employee department -->
        <ng-container matColumnDef="empDepartment">
            <th mat-header-cell *matHeaderCellDef>empDepartment</th>
            <td mat-cell *matCellDef="let element">{{ element?.dpName }}</td>
        </ng-container>

        <!-- view profile button -->
        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="button-section">
                <button mat-icon-button (click)="openViewDialog(element)" class="view-button">
                    <div class="button-with-icon" matTooltip="View" [matTooltipShowDelay]="1000"
                        matTooltipPosition="right">
                        <mat-icon>open_in_new</mat-icon>
                    </div>
                </button>
            </td>
        </ng-container>

        <!-- edit profile button -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="button-section">
                <button mat-icon-button (click)="openEditDialog(element)" class="edit-button" matTooltip="Edit"
                    matTooltip="Edit" [matTooltipShowDelay]="1000" matTooltipPosition="right">
                    <div class="button-with-icon">
                        <mat-icon>edit</mat-icon>
                    </div>
                </button>
            </td>
        </ng-container>

        <!-- delete profile button -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="button-section">
                <button mat-icon-button (click)="deleteEmployee(element.empId)" class="delete-button"
                    matTooltip="Delete" [matTooltipShowDelay]="1000" matTooltipPosition="right">
                    <div class="button-with-icon">
                        <mat-icon>delete</mat-icon>
                    </div>
                </button>
            </td>
        </ng-container>

        <!-- table settings -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
</div>