.mat-form-field {
    width: 100%;
}

table {
    width: 100%;
    transition-duration: .3s;

    .mat-header-cell {
        background-color: #e4e4e4ad;
    }

    .button-with-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .mat-icon {
            font-size: 1.3rem;
            color: black;
            transition-duration: .3s;
        }
    }

    tr {
        transition-duration: .3s;

        &:hover {
            transition-duration: .3s;
            background-color: #f3f3f3;
    
        }
    }

    .button-section {
        width: 10rem;
    }

    .delete-button {
        transition-duration: .3s;
        
        &.mat-button-base {

            transition-duration: .3s;

            &:hover {
                transition-duration: .2s;
                color: white;
                background: lightcoral;

                .mat-icon { 
                    color: white;
                }
            }
        }   
    }

    .edit-button {
        transition-duration: .3s;
        
        &.mat-button-base {
            transition-duration: .3s;

            &:hover {
                transition-duration: .2s;
                color: white;
                background: lightslategrey;

                .mat-icon { 
                    color: white;
                }
            }
        }   
    }

    .view-button {
        transition-duration: .3s;
        
        &.mat-button-base {
            transition-duration: .3s;

            &:hover {
                transition-duration: .2s;
                color: white;
                background: lightslategrey;

                .mat-icon { 
                    color: white;
                }
            }
        }   
    }
}
