<div id="header">
    <span class="header-content">Test App</span>
    <span class="normalize"></span>
    <button mat-button *ngIf="registerEnable" routerLink="/register">Register</button>
    <button mat-button *ngIf="logoutEnable" routerLink="/login" (click)="logOut()">
        Logout
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <div *ngIf="loginEnable" class="d-flex login-wrapper">
        <span>Already have an account?</span>
        <button mat-button routerLink="/login">Login</button>
    </div>
</div>