#header {
    display: flex;
    background-color: white;
    padding: 1rem 2rem;
    
    .normalize {
        flex: 1 1 auto;
    }

    .header-content {
        font-family: Helvetica;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        align-self: center;
    }

    .login-wrapper {
        span {
            align-self: center;
            padding-right: 1rem;
        }
    }
}