<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- username -->
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <!-- password -->
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>

            <!-- action button -->
            <div class="button normalize">
                <button type="submit" mat-button>Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>