<mat-toolbar>Edit {{ data.empName }}'s profile</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="main-layout">
        <div class="main-info-wrapper">
            <!-- employee avatar -->
            <img src="https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png" alt="avatar" />
            <span class="user-name"> {{ dataSource.empName }} </span>
        </div>
        <div class="summary-wrapper">
            <div class="summary">

                <!-- employee name -->
                <div class="d-flex">
                    <mat-form-field class="w-100">
                        <mat-label>Employee name:</mat-label>
                        <input matInput formControlName="controlEmployeeName" placeholder="empId" />
                    </mat-form-field>
                </div>

                <!-- employee is active -->
                <div class="d-flex checkbox-wrapper">
                     <span>Is active:</span>
                    <mat-checkbox formControlName="controlEmployeeActive"></mat-checkbox>
                </div>

                <!-- employee department -->
                <div class="d-flex">
                    <mat-form-field class="w-100">
                        <mat-label>Employee department:</mat-label>
                        <input matInput formControlName="controlEmployeeDepartment" placeholder="empDep" />
                    </mat-form-field>
                </div>

                <!-- action buttons -->
                <div class="d-flex">
                    <span class="normalize"> </span>
                    <button mat-dialog-close mat-raised-button>Cancel</button>
                    <button mat-dialog-close type="submit" color="primary" mat-raised-button>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>