#footer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem 2rem;
    font-family: Helvetica;
    
    p {
        opacity: 0.3;
        margin: 0;
    }
}