.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(227, 240, 245);
}

.mainContainer {
    margin: 4.25rem 3rem;
    height: 100%;
    justify-content: center;
    display: flex;
    transition-duration: .5s;
}

.spinner-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1005;
    background-color: #6f747985;
}

.spinner {
    position: absolute; 
    top: 45%;
    left: 45%;
    width: 100%;
    border-radius: 50%;
    box-shadow: rgb(136, 141, 143);
}