<div class="main-layout">
     <app-header class="flex-shrink-0"></app-header>

     <div class="mainContainer">
          <router-outlet></router-outlet>
     </div>

     <div *ngIf="displaySpinner" class="spinner-overlay">
          <mat-spinner class="spinner"></mat-spinner>
     </div>

     <app-footer class="flex-shrink-1"></app-footer>
</div>