<div class="main-layout">

    <!-- modal header -->
    <mat-toolbar>{{ data.empName }}'s profile</mat-toolbar>

    <!-- employee avatar + name -->
    <div class="main-info-wrapper">
        <img src="https://miro.medium.com/max/720/1*W35QUSvGpcLuxPo3SRTH4w.png" alt="avatar" />
        <span class="user-name">{{ data.empName }}</span>
    </div>
    <div class="summary-wrapper">
        <div class="summary">

            <!-- employee id -->
            <div class="d-flex">
                <span class="summary-header">Employee id:</span>
                <span class="summary-content"> {{ data.empId }} </span>
            </div>

            <!-- employee is active -->
            <div class="d-flex">
                <span class="summary-header">Is active:</span>
                <span class="summary-content"> {{ data.empActive === 1 }} </span>
            </div>

            <!-- employee department -->
            <div class="d-flex">
                <span class="summary-header">Employee department:</span>
                <span class="summary-content">
                    {{ data.dpName }}
                </span>
            </div>

            <!-- action buttons -->
            <div class="d-flex">
                <span class="normalize"> </span>
                <button mat-dialog-close mat-raised-button>Close</button>
            </div>
        </div>
    </div>
</div>