.main-layout {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    min-width: 50rem;
    min-height: 25rem;

    .normalize {
        flex: 1 1 auto;
    }

    .main-info-wrapper {
        display: flex;
        border-radius: 0.25rem;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            padding: 1rem 0rem;
        }

        .user-name {
            margin: auto 1rem;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .summary-wrapper {
        display: flex;

        .summary {
            display: flex;
            flex-grow: 5;
            flex-direction: column;
            border-radius: 0.25rem;
            background-color: rgba(235, 235, 235, 0.685);
            padding: 3rem 3rem;
            margin: 0.5rem 0rem 0.5rem 0rem;
        }

        .summary-header {
            font-size: 1rem;
            font-weight: bolder;
            padding: 0.5rem;
            min-width: 8rem;
            align-self: center;
        }

        .summary-content {
            padding: 0.5rem 0rem;
        }
    }
}
