/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    
    .w-100 { 
        width: 100% !important;
    } 

    .d-flex {
        display: flex;
    }

    .auth-component { 
        align-self: center;
    }
}
